name: Publish Python Package

on:
  release:
    types:
        - published

jobs:
  pypi-publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: 3.13.2
          version: 2.10.0

      - name: Publish package distributions to PyPI
        run: pdm publish
